.drag {
  background-color: lightskyblue;
  width: 100px;
  height: 100px;
  text-align: center;
}

.groceries {
  background-color: antiquewhite;
  width: 200px;
  height: 400px;
}

.shopping-list {
  background-color: green;
  width: 200px;
  height: 400px;
}









